@model HomeViewModel

<link rel="stylesheet" href="~/css/site.css" />
@*@await Html.PartialAsync("Carousel1")*@
<div class=" text-center ">
    <p class="text-center"><h1>BookiFy At Your Service</h1></p>
</div>
<br />
<div id="homepage" class="container ">
    

    @*<a class="button1"
       asp-controller="Products"
       asp-action="Index">Shop now</a>*@
</div>